*{
	box-sizing : border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}
.container{
    position: relative;
    width:100%;
    max-width:100%;
    margin:0px auto;
    height: auto;
}
.row{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
}
nav{
	background-color: #383B43;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}
a{
	color: #FFF;
}
.li1{
	font-size: 1.2em;
	padding-left: 6em;
}