*{
	box-sizing : border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
.container{
    position: relative;
    width:100%;
    max-width:100%;
    margin:0px auto;
    height: auto;
}
.row{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
}
nav{
	background-color: #383B43;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}
a{
	color: #FFF;
}
.li1{
	font-size: 1.2em;
	padding-left: 6em;
}
header{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 0;
	color: #FFF;
}
.title{
	font-size: 7em;
	font-weight: 300;
	text-align: center;
	padding-top: 110px;
	background-color: rgba(0, 0, 0, 0.4);
}
.subtitle{
	font-size: 4em;
	font-weight: 300;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 120px;
	background-color: rgba(0, 0, 0, 0.4);
}